*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0;
}
::-webkit-scrollbar-thumb{
    color: #f0f8ff00;
}

/* main area styling */
main{
    background-image: url(../images/back.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 88svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2px;
    overflow-y: scroll;
}
input[type=search]{
    height: 4svh;
    width: 98vw;
    background: #ffffffcf;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 4px;
}



section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        
        height: 84svh;
        width: 100%;
        overflow-y: scroll;
        padding-top: 5px;
    }

    h4, a{
        color: gold;
    }


    .product-wrapper{
        height: 48vh;
        width: 96%;
        margin: 0 auto;
        padding-top: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
        background: #ffffff80;
        border-radius: 4px;
    }
    .product-wrapper .image-container{
        width: 98%;
        height: 83%;
        text-align: center;
        overflow: hidden;
    }
    .product-wrapper .image-container .product-image{
        height: 100%;
        border-radius: 2px;
    }
    .details{
        width: 100%;
        height: 17%;
        padding: 2px;

        /* display: flex; */
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .cart-button{
        position: absolute;
        right: 2px;
        bottom: 2px;
        text-decoration: none;
        font-size: 18px;
        background: #000000a7;
        color: gold;
        padding: 3px;
        border-radius: 3px;
    }
    .tittle span, .price span{
        font-weight: 600;
    }
    .details-page{
        color: white;
        background: #0000005c;
        letter-spacing: 1.5px;
        padding: 2px;
        border-radius: 2px;
        text-decoration: none;
    }



@media (max-width: 1300px){
    section{
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
    }
    .product-wrapper{
        height: 47svh;
    }
    .product-wrapper .image-container{
        height: 82%;
    }
    .product-wrapper .image-container .product-image{
        height: 100%;
        width: auto;
        border-radius: 2px;
    }
    .details{
        width: 100%;
        height: auto;
        padding: 2px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
}


@media (max-width: 788px){
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: 84svh;
        width: 100%;
        overflow-y: scroll;
        padding-top: 5px;
    }
    .product-wrapper{
        height: 46svh;
        width: 98%;
        padding-top: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
        background: #ffffff80;
        border-radius: 4px;
    }
    .product-wrapper .image-container{
        width: 98%;
        height: 84%;
        text-align: center;
    }
    .product-wrapper .image-container .product-image{
        height: 100%;
        border-radius: 2px;
    }
    .details{
        width: 100%;
        height: auto;
        padding: 2px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .cart-button{
        position: absolute;
        right: 2px;
        bottom: 2px;
        text-decoration: none;
        font-size: 18px;
        background: #000000a7;
        color: gold;
        padding: 3px;
        border-radius: 3px;
    }
    .tittle span, .price span{
        font-weight: 600;
    }
    .details-page{
        color: white;
        background: #0000005c;
        letter-spacing: 1.5px;
        padding: 2px;
        border-radius: 2px;
        text-decoration: none;
    }

}