*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}

::-webkit-scrollbar{
    width: 0;
}


nav{
    /* position: sticky;
    top: 0;
    z-index: 3; */
    position: relative;

    display: flex;
    justify-content: space-between;
    background: brown;
    color: white;
    width: 100%;
    height: 6vh;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li{
    list-style: none;
    display: flex;
    margin-right: 10px;
    padding: 8px;
}
.menu li a{
    text-decoration: none;
    color: white;
}

.logo{
    transform: translateY(5vh);
    background: brown;
    color: yellow;
    height: fit-content;
    padding: 2px;
}


#banner{
    width: 100%;
    height: 80vh;
    background-image: url(../images/museum.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/* #banner img{
    width: 100%;
    height: auto;
} */
.menu-opener{
    display: none;
}
.menuContainer{
    display: none;
}


@media (max-width: 768px){

    nav{
        display: block;
        position: relative;
    }

    nav .item{
        display: none;
    }

    nav .menu-opener{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 2px;
        width: 30px;
        padding: 4px;
        background: #1a0202b5;
        border-radius: 5px;
    }

    .menu-opener i{
        width: 60px;
    }

    .menuContainer{
        position: fixed;
        top: 0;
        height: 94svh;
        width: 100%;
        background: brown;
        color: white;
    }

    .menuContainer ul{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        list-style: none;
    }

    .menuContainer ul li{
        margin-top: 15px;
        letter-spacing: 2px;
    }
    .menuContainer a, nav a{
        color: white;
        text-decoration: none;
    }

    .menu-header{
        text-align: center;
        letter-spacing: 2px;
        position: relative;
        height: 5svh;
    }
    .close-btn{
        position: absolute;
        top: 0;
        right: 1px;
        color: orange;
        background: black;
        padding: 5px;
        font-size: 18px
    }

    .menu-body{
        border-top: 1px solid white;
    }

}