<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <title>Document</title>
</head>
<body>
    <footer>

        <a href="https://www.facebook.com/profile.php?id=61557965824898&mibextid=ZbWKwL">
            <img class="icon" src="{% static 'images/facebook.png' %}" alt="">
        </a>        

        <a href="#">
            <img class="icon" src="{% static 'images/instagram.png' %}" alt="">
        </a>        

        <a href="#" onclick="toggleChat()">
            <img class="icon" src="{% static 'images/gmail.png' %}" alt="">
        </a>

        <fieldset id="chatContainer">
            <div class="chat-header">
              <label for="messageInput">
               <h4>Let us hear from you</h4>
            </label>

              <button onclick="closeChat()" class="close-btn">X</button>
            </div>

            <form action="https://formsubmit.co/konyomuseumghart@gmail.com" method="POST">
                {% csrf_token %}
                <input type="text" name="first_name" placeholder="First name" required>
                <input type="text" name="last_name" placeholder="Last name" required>
                <input type="email" name="email" placeholder="Email" required>
                <textarea name="body" placeholder="Message" required></textarea>
                <div>
                    <button onclick="sendMessage()" id="send">Send</button>
                </div>
            </form>
        </fieldset>
    </footer>

    <script src="{% static 'script/chat.js' %}"></script>
</body>
</html>