<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/thanks.css' %}">
    <title>Thank you</title>
</head>
<body>
    {% include 'core/navbar.html' %}

    <main>
        <fieldset>
            <h4>Email Successfully submitted</h4>
            <br><br>
            <p>
                You Will hear from us soon. <br>
                Thank you!
            </p>
        </fieldset>
    </main>
    
    {% include 'core/footer.html' %}    
</body>
</html>
